<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.qcdao.mapper.NoticeMapper">
	
	<!-- 获取通知 -->
	<select id="getNotices" resultType="NoticeItem">
		SELECT 
		  qc_title AS title,
		  qc_content AS content
		FROM
		  qc_notice
		WHERE qc_status = 1
		ORDER BY qc_id DESC ; 
	</select>
</mapper>