<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.qcdao.mapper.UserInviteMapper">
	<!-- 保存邀请记录 -->
	<insert id="saveUserInvite">
		INSERT INTO qc_user_invite (
		  qc_by_hash_id,
		  qc_hash_id,
		  qc_point,
		  qc_create_time
		) 
		VALUES
		  (
		    #{byHashId},
		    #{hashId},
		    #{point},
		    #{createTime}
		  ) ;
	</insert>
	
	<!-- 获取用的邀请记录 -->
	<select id="getUserInvite" resultType="UserInvite">
		SELECT 
		  qc_by_hash_id AS byHashId,
		  qc_point AS point
		FROM
		  qc_user_invite 
		WHERE qc_hash_id = #{hashId} 
		  AND qc_point = 0 
		LIMIT 1;
	</select>
</mapper>