<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.qcdao.mapper.UserTaskMapper">
	<!-- 获取用户任务记录列表 -->
	<select id="getUserTasks" resultType="UserTaskItem">
		SELECT 
		  t.qc_icon AS icon,
		  t.qc_title AS title, 
		  t.qc_finish_time AS finishTime,
		  t.qc_create_time AS createTime,
		  ut.qc_read_point AS readPoint,
		  ut.qc_read_count AS readCount,
		  ut.qc_status AS STATUS 
		FROM
		  qc_user_task ut,
		  qc_task t 
		WHERE ut.qc_task_id = t.qc_id 
		  AND ut.qc_hash_id = #{hashId} 
		ORDER BY ut.qc_id DESC 
		LIMIT #{start}, #{len} ;
	</select>
	
	<!-- 判断用户是否做过该任务 -->
	<select id="isExistUserTask" resultType="int">
		SELECT 
		  COUNT(1) 
		FROM
		  qc_user_task 
		WHERE qc_order_id = #{orderId} 
		LIMIT 1 ;
	</select>
	
	<!-- 保存用户任务 -->
	<insert id="saveUserTask">
		INSERT INTO qc_user_task (
		  qc_order_id,
		  qc_hash_id,
		  qc_task_id,
		  qc_create_time
		) 
		VALUES
		  (
		    #{orderId},
		    #{hashId},
		    #{taskId},
		    #{createTime}
		  ) ;
	</insert>
	
	<!-- 更新用户任务作为阅读 -->
	<update id="updateUserTaskForRead">
		UPDATE 
			qc_user_task
		SET 
			qc_read_point = qc_read_point + #{point},
			qc_read_count = qc_read_count + 1
		WHERE qc_order_id = #{orderId};
	</update>
</mapper>