<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.qcdao.mapper.VersionMapper">
	
	<!-- 获取某一设备类型应用的版本信息 -->
	<select id="getVersion" resultType="VersionInfo">
		SELECT 
		  qc_coerce AS coerce,
		  qc_number AS number,
		  qc_size AS size,
		  qc_url AS url,
		  qc_description AS description,
		  qc_create_time AS createTime 
		FROM
		  qc_version 
		WHERE qc_type = #{type}
		ORDER BY qc_id DESC
		LIMIT 1 ;
	</select>
</mapper>